@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 4px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

.clock{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    max-width: 100%;
    margin: auto;
}

.clock .app-wrap{
    width: 100%;
}

.clock .app-wrap .links{
    margin-bottom: 20px;
}

.clock .app-wrap .links a{
    font-size: 24px;
    border: 2px solid #313030;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #313030;
    font-weight: 700;
    box-shadow: 0 0 5px 5px #ffffff29 inset;
    transition: .2s ease-in;
}

.clock .app-wrap .links a:hover{
    background: #464a49;
    color: #fff;
}

.clock-wrap{
    border: 10px solid #313030;
    border-radius: 15px;
    min-height: 250px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #464a49;
    padding: 5px;
}

.clock-field{
    padding: 5px 0;
    border-radius: 80px;
    background: #404040;
    box-shadow: 0 0 5px 5px #ffffff29 inset;
    color: #fff;
    flex-basis: 20%;
    text-align: center;
    font-size: 70px;
}

.clock-field.second::before{
    content: '54';
    animation: second 60s infinite;
    animation-delay: 1s;
}

.clock-field.minute::before{
    content: '58';
    animation: minute 3600s infinite;
    animation-delay: -11.3s;/*-17.3s is nutral*/
}

.clock-field.hour::before{
    content: '11';
    animation: hour 43200s infinite;
    animation-delay: -989.6s;/* -1055.6s neutral */
}

.clock-field.ampm::before{
    content: 'PM';
    animation: ampm 86400s infinite;
    animation-delay: -12604.3s;/* -12670.3s neutral */
}


@media only screen and (max-width: 768px){
    .clock-wrap{
        min-height: 200px;
    }

    .clock-field{
        font-size: 42px;
    }
}

@media only screen and (max-width: 575px){
    .clock-field{
        font-size: 28px;
    }
    
    .clock .app-wrap .links a{
        font-size: 14px;
        padding: 5px 10px;
    }
}