@keyframes hour{
    8.333333333333333%{
        content: '12';
    }
    16.66666666666667%{
        content: '01';
    }
    25%{
        content: '02';
    }
    33.33333333333333%{
        content: '03';
    }
    41.66666666666667%{
        content: '04';
    }
    50%{
        content: '05';
    }
    58.33333333333333%{
        content: '06';
    }
    66.66666666666666%{
        content: '07';
    }
    75%{
        content: '08';
    }
    83.33333333333333%{
        content: '09';
    }
    91.66666666666666%{
        content: '10';
    }
    100%{
        content: '11';
    }
}